@import '../../scss/variables';

.tickets-list-button {
    width: 100%;
    height: 50px;
    color: $color-base;
    background-color: $color-brand;
    font-size: $font-size-sm;
    letter-spacing: 0.5px;
    font-weight: $font-weight-semibold;
    border: none;
    border-radius: 5px;
    font-family: $font-stack;
    box-sizing: border-box;

    &:hover {
        cursor: url('../../assets/icons/Cursor.svg'), pointer;
    }
}