$font-stack: "Open Sans", sans-serif;

$color-brand: #2196F3;
$color-base: #FFFFFF;
$color-base-secondary: #F3F7FA;

$color-text: #4A4A4A;
$color-text-secondary: #A0B0B9;

$color-hover: #F1FCFF;
$color-border: #DFE5EC;
$color-border-checkbox: #9ABBCE;
$color-shadow: #0000001A;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 24px;

// $screen-sm:
// $screen-md: 
// $screen-lg: 